<a href="https://colab.research.google.com/github/Annamjohn/Python/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=5
print(x)

5

In [ ]:
x=5
y=3
print("sum=",x+y)
print("difference=",x-y)
print("product=",x*y)
print("quotient=",x/y)
print("remainder=",x%y)

sum= 8
difference= 2
product= 15
quotient= 1.6666666666666667
remainder= 2

In [ ]:
a="HeLlo"
print(a.lower())
print(a.upper())

hello
HELLO

In [ ]:
x,y="apple","mango"
z=w=q="orange"
print(x,y)
print(z,w,q)

apple mango
orange orange orange

In [ ]:
x="this is a sentence. "
y="So what this can't be another one?"
if x != y:
  print(x+y)

this is a sentence. So what this can't be another one?

In [ ]:
x=1.23
print(type(x),x)
y=2+3j
print(type(y),y)
z="hello"
print(type(z),z)
a= 10
print(type(a),a)
f= True
print(type(f),f)

<class 'float'> 1.23
<class 'complex'> (2+3j)
<class 'str'> hello
<class 'int'> 10
<class 'bool'> True

In [ ]:
x= 10.5
print(int(x))
y= 10
print(float(y))
print(complex(x))
print(complex(y))
#c=4+6j
#print(float(c))

10
10.0
(10.5+0j)
(10+0j)

In [ ]:
import random
x=random.randint(1,9)
print(x)

2

In [ ]:
# f= "i am a student.\ni want to study.\ni love you."
f= """i am a student. 
i want to study. 
i love you."""
print(f)

i am a student.
i want to study.
i love you.

In [1]:
inp= "hello world"
val= inp.index("l")
print(val)
print(inp[val])

x="i am a girl"
w=x.index("m")
print(x[w])

2
l
m

In [ ]:
red="a whole new world"
print(red[0],red[5],red[13],red[8],red[6])

a l o n e

In [ ]:
f= "hello world"
print(f[1:10])

ello worl

In [ ]:
f= "hello world"
print(len(f))
val1= f.index("e")
print(val1)
val2= f.index("l")
print(val2)
print(f[::-1])

11
1
2
dlrow olleh

In [ ]:
import pandas as pd
dataset={
    'cars':[["bmw", "ford", "ferrari"],97],
    'passings':[[3,7,2],52]
}
var=pd.DataFrame(dataset)
print(var)
print(dataset["cars"][0][1])

                   cars   passings
0  [bmw, ford, ferrari]  [3, 7, 2]
1                    97         52
ford

In [ ]:
f= "hello world"
f= f.replace("e","a")
print(f)

g="hello there"
g=g.replace('l','w')
print(g)

hallo world
hewwo there

In [ ]:
a=int(input("No.1 "))
b=int(input("No.2 "))
if a==b:
  f= True
else:
  f= False
print(f)

No.1 4
No.2 2
False

In [ ]:
str=" Hello what are you doing"
w="care" in str
print(w)
x="are" in str
print(x)

print(str,5)

False
True
 Hello what are you doing 5

In [7]:
x=["apple","orange","megha","anna"]
print(x)
print(x[2])
print(x[-2])

['apple', 'orange', 'megha', 'anna']
megha
megha

In [15]:
import pandas as pd
a=[1,2,3,6,7]
x=pd.Series(a)
print(x)

0    1
1    2
2    3
3    6
4    7
dtype: int64

In [12]:
b = "Hello,World!"
print(b[-7:-1]) # -7 is included whereas -1 is excluded -1->!

,World

In [27]:
a=["apple","b","cut"]
a.append("word")
a.insert(2,"balloon")
print(a)
b=["elephant","tiger"]
a.extend(b)
# print(a)
c=["eagle","crow"]
print(a+c)

['apple', 'b', 'balloon', 'cut', 'word']
['apple', 'b', 'balloon', 'cut', 'word', 'elephant', 'tiger', 'eagle', 'crow']