<a href="https://colab.research.google.com/github/Annamjohn/Python/blob/main/python_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")
print(2+2)
print(4-1)
print("2+1")
print(2*8)
print(25/2) # proper division float number full
print(25%5) #remainder
print(15//5) #quotient i.e whole number(floor div)
print(5**2) #exponent

Hello
4
3
2+1
16
12.5
0
3
25

In [ ]:
print(type(3))
print(type(2+1.2))
print(2+1.3) #normal addn

print(round(4.934565665432,2))
print(abs(-123))

<class 'int'>
<class 'float'>
3.3
4.93
123

# **Operator precedence**

######()
#####**
#####* / // %
#####+ -

In [ ]:
print(bin(8))
print(int('0b1000',2))

0b1000
8

In [ ]:
a,b,c=2,5,3
print(b)

5

In [ ]:
print(type('you are a boy?'))

<class 'str'>

In [ ]:
print('''

wowoo you
ooo
---
''') # mutli line string

wowoo you
ooo
---

**String concatenation**

In [ ]:
first_name=input("Enter first name")
last_name=input("\nEnter last name")
full_name= first_name + " "+ last_name
print(full_name)

Enter first nameannu

Enter last namemani
annu mani

**Type** **conversion**

In [ ]:
a=str(120)
b=float(a)
c=type(b)
print(c)

<class 'float'>

In [ ]:
print(" hello, it\'s \"kind of\" a good day")

 hello, it's "kind of" a good day

**Formatted** **strings**

In [ ]:
name='Anju'
age=27
print(f'hi {name} you are {age} years old')

print('yo {} how come you are {}?'.format(name,age))

hi Anju you are 27 years old
yo 27 how come you are Anju?

In [ ]:
print('{newname} ok {age}'.format(newname='anj',age=20))

anj ok 20



*   print(f' ')- provide variable names inside {}
*   print(' {} and {}'.format(n,a))- empty brackets are enough and mention variable names in .format

*  when a variable is assigned a value in .format mention variable name inside {}

**String Slicing**

[start:stop:stepover]

In [ ]:
var='01234567'
print("1.", var[3])
print(var[0:3])
print(var[0:9:2])
print(var[-5])
print(var[1:])
print(var[::-2])
print(var[::-1])

1.3
012
0246
3
1234567
7531
76543210

In [ ]:
print(var[:6:2])

024

**Immutability**

We cannot reassign a part of string upon declaration. Can entirely replace it though.

In [ ]:
var='abcdef'
var=var + 'g'
print(var)

abcdefg

**Built- In Fns and Methods**

In [ ]:
string='hello there'
print(len(string)) #counting begins from 1

print(string[:])
print(string[3:len(string)]) #when slicing it starts from 0

11
hello there
lo there

## **NOTE: String length starts from 1 and not 0.**

String Functions
* upper()
* capitalize()
* lower()
* find()
* replace()- Alterations made are not stored in old string.

In [ ]:
quote='to be or not to be'
print(quote.upper())
print(quote.capitalize()) # capitalizes only the first letter
print(quote.lower())
print(quote.find('be')) # shows the first occurance of 'be'
quote_2= quote.replace('be','me')
print(quote_2)
print(quote) # since strings are immutable, the alterations made in replace() are not stored and hence we can only create or destroy a string.
# you can store the altered string in a new string variable

quote2=quote.replace('be','you')
print(quote2)

TO BE OR NOT TO BE
To be or not to be
to be or not to be
3
to me or not to me
to be or not to be
to you or not to you

**Boolean**

In [ ]:
name=input("Enter name")
is_cool=False
if(name=='AMJ'):
  is_cool=True
print(is_cool)
print(bool(0))
print(bool(1))
print(bool('true'))

Enter nameAMJ
True
False
True
True

In [ ]:
birth_yr=int(input("Enter year of birth: "))
curr_year=2024
age=curr_year-birth_yr
print(f"Age: {age}")

Enter year of birth: 2001
Age: 23

In [ ]:
birth=input("Which year were u born: ")
age=2024-float(birth)
age2=2024-bool(birth) #2024-1 (True)
print(f"Age is {age} and not {age2}")

Which year were u born: 1997
Age is 27.0 and not 2023

**Password checker**

In [ ]:
username= input("Enter username: ")
password= input("Enter password: ")
pass_length= len(password)
hidden_pass= '*'* pass_length
print(f"Hey {username}, your password {hidden_pass}is {pass_length} letters long")

Enter username: user1
Enter password: abcdefgh
Hey user1, your password ********is 8 letters long

**LISTS**
* mutable
* can alter list items
* can be of different datatypes

In [ ]:
l1=[1,2,3,4]
l2=['a','b','c']
l3=['g',1,2.9,True]
print(l3[3])

True

**List Slicing**
* slicing is performed in order to create a copy.
* in this case, old list is not affected
without slicing, whatever alterations are done are stored in the memory of list (val of new_cart will be whatever is stored in memory of amazon_cart)

In [ ]:
amazon_cart=[
    'notebook',
    'mobile',
    'laptop',
    'sunglasses',
    'bottle'
]


print(amazon_cart)
print(amazon_cart[0:3])
print(amazon_cart[:4:2])

['notebook', 'mobile', 'laptop', 'sunglasses', 'bottle']
['notebook', 'mobile', 'laptop']
['notebook', 'laptop']

In [ ]:
new_cart= amazon_cart[0:3] # new seperate list
new_cart[2]='paintbrush'
print(new_cart)
print(amazon_cart)

['notebook', 'mobile', 'paintbrush']
['notebook', 'mobile', 'laptop', 'sunglasses', 'bottle']

**MATRIX**

In [ ]:
matrix=[
    [1,2,3],
    [4,[5,6]],
    [7,8,9]
]

print(matrix[1][1][0])

5

In [ ]:
matrix2=[
    [2,3,4],
    [5,6,[7,[8,9]]]
]
print(matrix2[1][2][1][1])

9

**List** **methods**

1. **append(value)**- does not return a value. only appends item in last position. (no copy is created)
* To access list, just call listname or assign listname to a new variable and call that. ( either l1 or new_list)
* don't assign append to any variable

2. **insert(index, value)**- no copy gets created. can insert anywhere in list.
3. **extend([list of 1 or more value])**- to join values/lists to end of first list.

4. **pop(index)**- when printing l1.pop(), value popped is displayed. (<---when assigned to a value )
5. **remove(value)**- value removed
6. **clear()**- full list gets emptied.
7. **in**- used to check is something is present in the sentence.(eg. word in sentence)
8. **index(word,start_index,end_index)**- to find placement of a word and range of index to search in
9. **count(word)**- total no. of time present
10. **sort()**- modifies the list
11. **sorted(list_name)**- creates copy.
12. **copy()**- copies entire list
13. **reverse()**- reverse of list
14. **[::-1]**- reversing. creates a copy
**NOTE**: Wherever slicing is performed, a copy of list gets created.
15. **range()**- list(range(start,end))
16. **join([values])**- 'whatever should appear after each elt is mentioned here in quotation'.join([1,2,3,4])

In [ ]:
l1=[2,3,4,5,6]
new_list= l1.append(20)   #no copy is created # does not return a value for storing. just appends 20 in last position
print(new_list)
print(l1)

None
[2, 3, 4, 5, 6, 20]

**CORRECT** **METHOD**

In [ ]:
#APPEND
l1.append(40)
new_list=l1
new_list[0]=2999
print(new_list)
print(l1)

[2999, 3, 4, 5, 6, 20, 40, 40]
[2999, 3, 4, 5, 6, 20, 40, 40]

In [ ]:
# INSERT
l1.insert(3,70)
print(l1)

[2999, 3, 4, 70, 5, 6, 20, 40, 40]

In [ ]:
# EXTEND
l1.extend([100,102,103])
print(l1)

[2999, 3, 4, 70, 5, 6, 20, 40, 40, 100, 102, 103]

In [ ]:
#POP
l1.pop() # last elt
print(l1)
l1.pop(1)
print(l1)

[2999, 3, 4, 70, 5, 6, 20, 40, 40, 100, 102]
[2999, 4, 70, 5, 6, 20, 40, 40, 100, 102]

In [ ]:
# REMOVE
l1.remove(40)
print(l1)

[2999, 4, 70, 5, 6, 20, 40, 100, 102]

In [ ]:
#CLEAR
l1.clear()
print(l1)

[]

In [ ]:
basket=['a','b','c','d','e','f']

In [ ]:
# in

print('c' in basket)
print('l' in basket)
print('are' in 'arey wah yaar')

True
False
True

In [ ]:
# INDEX
print(basket.index('f',2,6))

5

In [ ]:
sent="wah arey yaar arey"
print(sent.index("arey")) #beg of arey ('a')

4

In [ ]:
# COUNT
print(sent.count('a'))
print(sent.count('arey'))

5
2

In [ ]:
# SORT
sent=['a','f','e','b','q','l','b']

sent.sort() # modifies the string
print(sent)

['a', 'b', 'b', 'e', 'f', 'l', 'q']

In [ ]:
# SORTED FN
words=['r','a','t','w','j']
print(sorted(words)) # creates a copy # slicing and then sort()
print(words)

['a', 'j', 'r', 't', 'w']
['r', 'a', 't', 'w', 'j']

In [ ]:
# COPY
new=words.copy() # plainly copy list
print(new)

['r', 'a', 't', 'w', 'j']

In [ ]:
# REVERSE
words.sort()
words.reverse()
print(words)

['w', 't', 'r', 'j', 'a']

In [ ]:
list4=['b','d','c','w','k']
print(list4[::-1]) # copy gets created
print(list4) # not affected

['k', 'w', 'c', 'd', 'b']
['b', 'd', 'c', 'w', 'k']

In [ ]:
# RANGE
print(list(range(1,100)))
print(list(range(100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
# JOIN
sentence=' '.join(['Hello','there','I','am','Lola']) # inside '' whatever is mentioned will appear after each elt in list
print(sentence)

Hello there I am Lola

# **List unpacking**
#### NOTE: Use * to group remaining items in a list.

In [ ]:
a,b,c,*any,d,e=[1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(any) # to grp elts of a list under one variable use *
print(d)
print(e)

1
2
3
[4, 5, 6, 7]
8
9

In [ ]:
counter = 0

counter += 1
counter += 1
counter += 1
counter += 1
counter -= 1
counter *= 2

print(counter) #what will this print?

6

In [ ]:
python = 'I am PYTHON'

print(python[1:4]) #am
print(python[1:])# am PYTHON
print(python[:]) #full
print(python[1:100]) # am python
print(python[-1]) #N
print(python[-4])#T
print(python[:-3])#I am PYT
print(python[-3:]) #HON
print(python[::-1]) #NOhtyp ma i

 am
 am PYTHON
I am PYTHON
 am PYTHON
N
T
I am PYT
HON
NOHTYP ma I

In [ ]:

new_list = ['a', 'b', 'c']
print(new_list[1])
print(new_list[-2])
print(new_list[1:3])
new_list[0] = 'z'
print(new_list)

my_list = [1,2,3]
bonus = my_list + [5]
my_list[0] = 'z'
print(my_list)
print(bonus)

b
b
['b', 'c']
['z', 'b', 'c']
['z', 2, 3]
[1, 2, 3, 5]

In [ ]:
friends = ['Simon', 'Patty', 'Joy', 'Carrie', 'Amira', 'Chu']

new_friend = ['Stanley']
friends.extend(new_friend)

print(sorted(friends))

['Amira', 'Carrie', 'Chu', 'Joy', 'Patty', 'Simon', 'Stanley']

# **Dictionary**
* Unordered key-value pairs (order of insertion may not be same as order of output)
* Accessing: **dict_name[key**]
## **KEYS**

* Keys can be of any datatype that is **immutable** (no list)(can be int, string, bool, tuple)
* Keys must be **unique**(same key having diff value gets **overwritten**)
* .get(key,default value)- checks if a value for the key exists, else use default value

In [ ]:
dictionary={
    'a':1,
    'b':2,
    'c':3
}

print(dictionary['c'])
print(dictionary) # very large no. of k:v pairs, maybe be unordered

3
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
dict_1={
    'a':[1,["yo",True],4],
    'b': 'anyo',
    'c': False
}
print(dict_1['a'][1][0])

yo

In [ ]:
list_1=[
     {
    'a':[1,["yo",True],4],
    'b': 'anyo',
    'c': False
},
     {
    'a':[1,["wassup",True],4],
    'b': 'anyo',
    'c': False
     }
]
print(list_1[1]['a'][1][0])

wassup

In [ ]:
# KEYS

dict_1={
    12:[1,'act',3],
    43.5:'yo',
    'u':'String bruh',
    12:'oh no' #got overwritten
}
print(dict_1)
print(dict_1[43.5])

{12: 'oh no', 43.5: 'yo', 'u': 'String bruh'}
yo

In [10]:
#.get method
user={
    'basket': [1,[4,2],3],
    'greet': 'hey there',
    'age':89
}
print(user.get('age',29))

89

* Alternative way to create a dictionary
dict( key='value')
* when printing use ' ' for key. (eg. dict_1['age'])

In [3]:
# ALTERNATIVE WAY TO CREATE A DICTIONARY
user2= dict(age=55,name='AJ')
print(user2['age'])
print(user2)

55
{'age': 55, 'name': 'AJ'}

In [4]:
print('greet' in user)
print('fruit' in user)

True
False

Dictionary Methods

1. dict_name**.get(key, default_value)**
2. in dict_name.**keys()**- checks if such a key exists
3. in dict_name.**values()**- checks if such a value exists
4. dict_name.**items()**- tuple form (key, value) (' ' for string)
5. **clear()**
6. **copy()**
7. **pop('key')**- Upon printing, it returns value of popped key.
8. **popitem()**- removes last key:value pair and prints the tuple removed. Useful to **destructively iterate** over a dictionary.
9. **update({key:value})**- updates that particular key's value to the given value. If a new key is assigned a value, that tuple also gets added to the list.

In [5]:
print('greet' in user.keys())
print([1,[4,2],3] in user.values())
print([4,2] in user.values())
print(('greet', 'hey there') in user.items())
print(user.items())

True
True
False
True
dict_items([('basket', [1, [4, 2], 3]), ('greet', 'hey there'), ('age', 89)])

In [6]:
#CLEAR doesn't return a value
user3=user2.copy()
user2.clear() #o/p: None
print(user2) # {}
print(user3)

{}
{'age': 55, 'name': 'AJ'}

In [18]:
user={
    'basket': [1,[4,2],3],
    'greet': 'hey there',
    'age':89
}
print(user.pop('basket'))
print(user)

[1, [4, 2], 3]
{'greet': 'hey there', 'age': 89}

In [19]:
print(user.popitem()) # prints tuple removed
print(user)

('age', 89)
{'greet': 'hey there'}

In [26]:
user={
    'basket': [1,[4,2],3],
    'greet': 'hey there',
    'age':89
}

print(user.update({'greet':'anyo'}))
print(user.update({'branch':'cse'})) # adds it to the dictionary
print(user)

None
None
{'basket': [1, [4, 2], 3], 'greet': 'anyo', 'age': 89, 'branch': 'cse'}

# **TUPLES**

* Immutable lists
*  Cannot modify elts in a tuple upon declaration. (cannot bperform item assignement, sort,reverse etc.)
* Can print, access elts, check if an elt is present in tuple. (via indices)
* valid key in a dict

In [27]:
my_tuple=('sorr',1,True)
print(my_tuple)

('sorr', 1, True)

In [31]:
#my_tuple[1]=2 # not possible
print(my_tuple[0])

sorr

In [35]:
print(1 in my_tuple)
print(23 in my_tuple)

True
False

In [38]:
user={
    (1,2,3): [1,[4,2],3], # tuple can be used as a key
    'greet': 'hey there',
    'age':89
}
print(user[(1,2,3)])

[1, [4, 2], 3]

In [42]:
tup_1=(1,2,3,4,5)
new_tup=tup_1[1:2] # comma comes for single elts
print(new_tup)

(2,)

In [45]:
new_tup=tup_1[1:3]
print(new_tup)

(2, 3)

In [46]:
# x=tup_1[0]
# y=tup_1[2]
# z=x+y
# print(z)

4

In [48]:
x,*other,y,z=(1,2,3,4,5)
print(other)

[2, 3]

# **Tuple Methods**
* **count('value')**
* **index('value')**
* **len(tuple_name)**

In [50]:
my_tup=(3,4,5,5,5,5,7)
print(my_tup.count(5))
print(my_tup.index(5))
print(len(my_tup))

4
2
7

**Datatypes**
* None
* bool
* int
* float
* str
* list
* tuple
* dict
* set

# **SETS**

Unordered collections of unique objects.
* no duplicates are present.
* cannot access values via indexing.
* Hence, to check if a valu is present use **"in"**

**Set methods**
1. **add(value)**
2. **len(set_name)** # FN
3. **copy()**
4. **clear()**
5. **IN**

In [52]:
my_list=[1,2,3,4,5,5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [59]:
my_set={3,2,4,2,10,5,'boohoo','alia',1}
print(my_set)

{1, 2, 3, 4, 5, 'alia', 10, 'boohoo'}

In [61]:
my_set.add(90)
my_set.add(2)
print(my_set)

{1, 2, 3, 4, 5, 'alia', 10, 'boohoo', 90}

In [66]:
#print(my_set[3]) # wrong

In [65]:
print('boohoo' in my_set)
print(95 in my_set)

True
False

In [68]:
print(len(my_set))
print(list(my_set))

9
[1, 2, 3, 4, 5, 'alia', 10, 'boohoo', 90]

In [69]:
set_2=my_set.copy()
my_set.clear()
print(my_set)
print(set_2)

set()
{1, 2, 3, 4, 5, 'alia', 10, 'boohoo', 90}

# **CONVERSION**

list to set =>  eg. my_list=[1,2,3,4,5]
print(set(my_list))

and vice versa for all other datatypes

# **MORE METHODS**
6. **set1.difference(set2)**- elts present in set 1 but not in set2. Set does not get modified and only the difference is shown.
7. set_name.**discard(value)**- discards value from that set.
8. **set1.difference_update(set2)**- values common to bothe sets are removed and set1 gets modified with remaining unique values.
9. **set1.intersection(set2)** or **(set1 & set2)**
10. **set1.union(set2)** or **(set1 | set2)**
11. **isdisjoint()**- True is no common vals are present in both sets.
12. **issubset()**
13. **issuperset()**

In [98]:
my_set={1,2,3,4,5}
your_set={4,5,6,7,8,9}
some_set={11,24}
another_set={2,3}

In [85]:
#DIFFERENCE
print(my_set.difference(your_set))
print(my_set)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [86]:
#DIFFERENCE_UPDATE
my_set.difference_update(your_set)
print(my_set) # list got modified

{1, 2, 3}

In [78]:
#DISCARD
my_set.discard(5) # duplicates are never considered
print(my_set)

{1, 2, 3, 4}

In [90]:
#INTERSECTION

print(my_set.intersection(your_set))
print(my_set & your_set) # shortcut

{4, 5}
{4, 5}

In [92]:
#UNION

print(my_set.union(your_set))
print(my_set | your_set) # shortcut

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [97]:
#DISJOINT (if no common elts are present in the sets)
print(my_set.isdisjoint(your_set)) # they have 4 and 5 in common
print(my_set.isdisjoint(some_set))

False
True

In [99]:
#SUBSET
print(another_set.issubset(my_set))

True

In [100]:
#SUPERSET
print(my_set.issuperset(another_set))

True