<a href="https://colab.research.google.com/github/Annamjohn/Python/blob/main/python_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello")
print(2+2)
print(4-1)
print("2+1")
print(2*8)
print(25/2) # proper division float number full
print(25%5) #remainder
print(15//5) #quotient i.e whole number(floor div)
print(5**2) #exponent

Hello
4
3
2+1
16
12.5
0
3
25

In [ ]:
print(type(3))
print(type(2+1.2))
print(2+1.3) #normal addn

print(round(4.934565665432,2))
print(abs(-123))

<class 'int'>
<class 'float'>
3.3
4.93
123

# **Operator precedence**

######()
#####**
#####* / // %
#####+ -

In [ ]:
print(bin(8))
print(int('0b1000',2))

0b1000
8

In [ ]:
a,b,c=2,5,3
print(b)

5

In [ ]:
print(type('you are a boy?'))

<class 'str'>

In [ ]:
print('''

wowoo you
ooo
---
''') # mutli line string

wowoo you
ooo
---

**String concatenation**

In [ ]:
first_name=input("Enter first name")
last_name=input("\nEnter last name")
full_name= first_name + " "+ last_name
print(full_name)

Enter first nameannu

Enter last namemani
annu mani

**Type** **conversion**

In [ ]:
a=str(120)
b=float(a)
c=type(b)
print(c)

<class 'float'>

In [ ]:
print(" hello, it\'s \"kind of\" a good day")

 hello, it's "kind of" a good day

**Formatted** **strings**

In [ ]:
name='Anju'
age=27
print(f'hi {name} you are {age} years old')

print('yo {} how come you are {}?'.format(name,age))

hi Anju you are 27 years old
yo 27 how come you are Anju?

In [ ]:
print('{newname} ok {age}'.format(newname='anj',age=20))

anj ok 20



*   print(f' ')- provide variable names inside {}
*   print(' {} and {}'.format(n,a))- empty brackets are enough and mention variable names in .format

*  when a variable is assigned a value in .format mention variabke name inside {}

**String Slicing**

[start:stop:stepover]

In [ ]:
var='01234567'
print("1.", var[3])
print(var[0:3])
print(var[0:9:2])
print(var[-5])
print(var[1:])
print(var[::-2])
print(var[::-1])

1.3
012
0246
3
1234567
7531
76543210

In [ ]:
print(var[:6:2])

024

**Immutability**

We cannot reassign a part of string upon declaration. Can entirely replace it though.

In [ ]:
var='abcdef'
var=var + 'g'
print(var)

abcdefg

**Built- In Fns and Methods**

In [ ]:
string='hello there'
print(len(string))

print(string[:])
print(string[3:len(string)]) #when slicing it starts from 0

11
hello there
lo there

**String length starts from 1 and not 0.**

In [ ]:
quote='to be or not to be'
print(quote.upper())
print(quote.capitalize()) # capitalizes only the first letter
print(quote.lower())
print(quote.find('be')) # shows the first occurance of 'be'
print(quote.replace('be','me'))
print(quote) # since strings are immutable, the alterations made in replace() are not stored and hence we can only create or destroy a string.
# you can store the altered string in a new string variable

quote2=quote.replace('be','you')
print(quote2)

TO BE OR NOT TO BE
To be or not to be
to be or not to be
3
to me or not to me
to be or not to be
to you or not to you

**Boolean**

In [5]:
name=input("Enter name")
is_cool=False
if(name=='AMJ'):
  is_cool=True
print(is_cool)
print(bool(0))
print(bool(1))
print(bool('true'))

Enter nameAMJ
True
False
True
True

In [6]:
birth_yr=int(input("Enter year of birth: "))
curr_year=2024
age=curr_year-birth_yr
print(f"Age: {age}")

Enter year of birth: 2001
Age: 23

In [8]:
birth=input("Which year were u born: ")
age=2024-float(birth)
age2=2024-bool(birth) #2024-1 (True)
print(f"Age is {age} and not {age2}")

Which year were u born: 1997
Age is 27.0 and not 2023

**Password checker**

In [11]:
username= input("Enter username: ")
password= input("Enter password: ")
pass_length= len(password)
hidden_pass= '*'* pass_length
print(f"Hey {username}, your password {hidden_pass}is {pass_length} letters long")

Enter username: user1
Enter password: abc123@
Hey user1, your password *******is 7 letters long