<a href="https://colab.research.google.com/github/Annamjohn/Python/blob/main/winequalityprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings("ignore")

In [123]:
wine=pd.read_csv("/content/winequality-red.csv",sep=';')
# wine.isnull().sum()
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [103]:
wine.shape

(1599, 12)

In [105]:
wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [106]:
wine['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [109]:
x=wine.drop(columns='quality',axis=1)
y=wine['quality']
print(x)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol
0         9.4
1         9.8
2         9.8
3         9.8
4         9.4
...       ...
1594     10.5
1595     11.2
1596     11.0
1597     10.2
1598     11.0

[1599 rows x 11 columns]

In [110]:
print(y)

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [113]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,stratify=y,random_state=1)
print(x.shape,x_train.shape,x_test.shape)

(1599, 11) (1439, 11) (160, 11)

In [114]:
print(x_train)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1167            8.2             0.330         0.39             2.5      0.074
214             7.8             0.735         0.08             2.4      0.092
839             6.0             0.500         0.04             2.2      0.092
784             7.1             0.590         0.01             2.5      0.077
1023            8.2             0.320         0.42             2.3      0.098
...             ...               ...          ...             ...        ...
711             8.9             0.565         0.34             3.0      0.093
1252            7.1             0.720         0.00             1.8      0.123
1306            9.7             0.690         0.32             2.5      0.088
1301            6.7             0.860         0.07             2.0      0.100
63              7.0             0.735         0.05             2.0      0.081

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1167                 29.0                  48.0  0.99528  3.32       0.88
214                  10.0                  41.0  0.99740  3.24       0.71
839                  13.0                  26.0  0.99647  3.46       0.47
784                  20.0                  85.0  0.99746  3.55       0.59
1023                  3.0                   9.0  0.99506  3.27       0.55
...                   ...                   ...      ...   ...        ...
711                  16.0                 112.0  0.99980  3.38       0.61
1252                  6.0                  14.0  0.99627  3.45       0.58
1306                 22.0                  91.0  0.99790  3.29       0.62
1301                 20.0                  57.0  0.99598  3.60       0.74
63                   13.0                  54.0  0.99660  3.39       0.57

      alcohol
1167     12.4
214       9.8
839      10.0
784       9.8
1023     12.3
...       ...
711       9.5
1252      9.8
1306     10.1
1301     11.7
63        9.8

[1439 rows x 11 columns]

In [115]:
print(y_train)

1167    7
214     6
839     5
784     5
1023    6
       ..
711     5
1252    5
1306    5
1301    6
63      5
Name: quality, Length: 1439, dtype: int64

In [116]:
model=LogisticRegression()

In [119]:
model.fit(x_train,y_train)

LogisticRegression()

In [121]:
x_train_pred=model.predict(x_train)
training_acc= accuracy_score(x_train_pred,y_train)
print("Accuracy of training data= ",training_acc)

Accuracy of training data=  0.5788742182070883

In [122]:
x_test_pred=model.predict(x_test)
test_acc=accuracy_score(x_test_pred,y_test)
print("Accuracy of testing data: ",test_acc)

Accuracy of testing data:  0.60625

In [127]:
inp=(6.2,0.7,0.43,2.2,0.1,23.7,68,1.2,3.5,0.61,8.8)
arr=np.array(inp)	
# print(arr)

In [128]:
reshaped_inp=arr.reshape(1,-1)
pred=model.predict(reshaped_inp)
print(pred)

[5]

In [129]:
if pred[0]>=6.5:
  print("Good quality wine")
else:
  print("Bad quality wine")

eww bad quality man